<div class="title">
  <h2>이미지</h2>

  <div class="btn_wrap">
    <button type="button" class="btn properties_close" aria-label="속성 닫기">
      <svg class="svg_properties_close" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1L7 7L1 13" stroke="#979797" stroke-width="2"></path>
        <path d="M9 1L15 7L9 13" stroke="#979797" stroke-width="2"></path>
      </svg>
      <span class="blind">속성 닫기</span>
    </button>
  </div>
</div>

<div class="inner scroll_box">
  <!-- // 속성 - 연결 -->
  <div class="panel active">
    <div class="panel_title">
      <h3>연결</h3>
      <span role="button" class="btn panel_setting_open" aria-label="속성 열기">
        <i class="arrow_down"></i><span class="blind">속성 열기</span>
      </span>
    </div>

    <div class="panel_setting">
      <div class="panel_subtree">
        <div class="row">
          <span class="word">File<span class="wcln">:</span></span>
          <div class="input_box method_cloud mw190">
            <input type="text" class="scw90" placeholder="" disabled readonly>
            <span role="button" class="btn find_more" aria-label="찾아보기">
              <i class="svg_find_more"></i>
              <span class="blind">찾아보기</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- // 속성 - 위치 -->
  <div class="panel active">
    <div class="panel_title">
      <h3>위치</h3>
      <span role="button" class="btn panel_setting_open" aria-label="속성 열기">
        <i class="arrow_down"></i><span class="blind">속성 열기</span>
      </span>
    </div>

    <div class="panel_setting">
      <div class="panel_subtree">
        <div class="row ctrl_size">
          <div class="col">
            <span class="word">Left<span class="wcln">:</span></span>
            <input type="number" class="scw90 input_t" value="0">
            <span class="unit">px</span>
          </div>
          <div class="col">
            <span class="word">Top<span class="wcln">:</span></span>
            <input type="number" class="scw90 input_t" value="0">
            <span class="unit">px</span>
          </div>
        </div>
        <div class="row ctrl_size ctrl_rate">
          <div class="col">
            <span class="word">Width<span class="wcln">:</span></span>
            <input type="number" class="scw90 input_t" value="0">
            <span class="unit">px</span>
          </div>
          <div class="col">
            <span class="word">Height<span class="wcln">:</span></span>
            <input type="number" class="scw90 input_t" value="0">
            <span class="unit">px</span>
          </div>

          <div class="btn_wrap rate">
            <button type="button" class="btn restrict_rate on" aria-label="비율 유지">
              <svg class="svg_restrict" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.31758 8.99997C7.31758 10.6447 8.6509 11.978 10.2956 11.978L11.1465 11.978L13.2737 11.978C14.9184 11.978 16.2517 10.6447 16.2517 9C16.2517 7.35527 14.9184 6.02196 13.2736 6.02195L12.8477 6.02195" stroke="#D8D8D8" stroke-width="1.425" stroke-linecap="round"></path>
                <path d="M10.6824 9.00056C10.6824 7.35584 9.3491 6.02252 7.70438 6.02252L6.85351 6.02251L4.72635 6.02251C3.08162 6.0225 1.74831 7.35581 1.74832 9.00053C1.74832 10.6453 3.08164 11.9786 4.72636 11.9786L5.15231 11.9786" stroke="#D8D8D8" stroke-width="1.425" stroke-linecap="round"></path>
              </svg>
              <span class="blind">비율 유지</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- // 속성 - 사진 슬라이드 -->
  <div class="panel active">
    <div class="panel_title">
      <h3>사진 슬라이드</h3>
      <span role="button" class="btn panel_setting_open" aria-label="속성 열기">
        <i class="arrow_down"></i><span class="blind">속성 열기</span>
      </span>
    </div>

    <div class="panel_setting">
      <div class="panel_subtree">
        <div class="scroll_box icon_scroll">
          <ul class="icon_list flex">
            <li>
              <div class="btn box new_icon">
                <svg viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M11 9V0H9V9H0V11H9V20H11V11H20V9H11Z" fill="#979797"></path>
                </svg>
                <span class="blind">새로 등록하기</span>
              </div>
            </li>
            <li>
              <div class="btn box slide active">
                <img src="../publishing_guide/img_01.png" alt="이미지">
                <span role="button" class="btn img_delete" aria-label="삭제">
                  <i class="svg_icon_imgdel"></i>
                  <span class="blind">삭제</span>
                </span>
              </div>
            </li>
            <li>
              <div class="btn box slide">
                <img class="img_slide" src="../publishing_guide/img_02.png" alt="이미지">
                <span role="button" class="btn img_delete" aria-label="삭제">
                  <i class="svg_icon_imgdel"></i>
                  <span class="blind">삭제</span>
                </span>
              </div>
            </li>
            <li>
              <div class="btn box slide"></div>
            </li>
            <li>
              <div class="btn box slide"></div>
            </li>
            <li>
              <div class="btn box slide"></div>
            </li>
            <li>
              <div class="btn box slide"></div>
            </li>
            <li>
              <div class="btn box slide"></div>
            </li>
            <li>
              <div class="btn box slide"></div>
            </li>
            <li>
              <div class="btn box slide"></div>
            </li>
            <li>
              <div class="btn box slide"></div>
            </li>
            <li>
              <div class="btn box slide"></div>
            </li>
            <li>
              <div class="btn box slide"></div>
            </li>
            <li>
              <div class="btn box slide"></div>
            </li>
            <li>
              <div class="btn box slide"></div>
            </li>
            <li>
              <div class="btn box slide"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="btn_wrap top">
  <button type="button" class="btn" aria-label="완료">
    <svg class="svg_properties_done" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M10.566 9.435a.8.8 0 0 0-1.131 1.13L14.869 16l-5.434 5.434a.8.8 0 0 0 1.13 1.132L16 17.132l5.434 5.434a.8.8 0 0 0 1.132-1.131L17.132 16l5.434-5.434a.8.8 0 0 0-1.131-1.131L16 14.869l-5.434-5.434Z" fill="#979797"/>
    </svg>

    <span class="blind">완료</span>
  </button>
</div>
<link rel="stylesheet" type="text/css" href="./asset/css/lib/spectrum.css">
<script type="text/javascript" src="./asset/js/spectrum.js"></script>
<script>
  $("#spectrumColor").spectrum({
    containerClassName: "spectrum_theme",
    type: "flat",
    hideAfterPaletteSelect: true,
    showInitial: true,
    showButtons: false,
    allowEmpty: false,
    showPalette : true,
    showAlpha: true,
    palette: [
      ['rgb(0,0,0)', 'rgb(255,255,255)', 'rgb(255,0,0)', 'rgb(255,192,0)', 'rgb(255,255,0)', 'rgb(146,208,80)', 'rgb(0,176,240)', 'rgb(38,89,255)'],
    ],
    showSelectionPalette: true,
    selectionPalette: ['rgb(209,192,165)', 'rgb(241,159,194)', 'rgb(241,159,194)', 'rgb(170,137,190)', 'rgb(137,171,218)', 'rgb(133,204,201)', 'rgb(49,177,108)', 'rgb(179,212,101)', 'rgb(236,104,65)'],
    maxSelectionSize: 8,
    localStorageKey: "selpubCreatorSpectrum",
  });
  $(".panel_setting_open").on("click", function(e){
    var target = e.currentTarget.closest(".panel");
    $(target).toggleClass("active");
  });
</script>