<div class="title">
  <h2>템플릿</h2>

  <div class="btn_wrap">
    <button type="button" class="btn properties_close" aria-label="속성 닫기">
      <svg class="svg_properties_close" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1L7 7L1 13" stroke="#979797" stroke-width="2"></path>
        <path d="M9 1L15 7L9 13" stroke="#979797" stroke-width="2"></path>
      </svg>
      <span class="blind">속성 닫기</span>
    </button>
  </div>
</div>

<div class="inner scroll_box">
  <!-- // 속성 - 도구 - 템플릿 -->
  <div class="panel active">
    <div class="panel_title">
      <h3>도구</h3>
      <span role="button" class="btn panel_setting_open" aria-label="속성 열기">
        <i class="arrow_down"></i><span class="blind">속성 열기</span>
      </span>
    </div>

    <div class="panel_setting">
      <div class="panel_subtree">
        <div class="row tools_type">
          <button type="button" class="btn select_sub_tools" aria-label="기본 템플릿">
            <i class="svg_sts_template_01"></i><span class="blind">기본 템플릿</span>
          </button>
          <button type="button" class="btn select_sub_tools" aria-label="컴포넌트">
            <i class="svg_sts_template_02"></i><span class="blind">컴포넌트</span>
          </button>
          <button type="button" class="btn select_sub_tools" aria-label="나만의 템플릿">
            <i class="svg_sts_template_03"></i><span class="blind">나만의 템플릿</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- // 속성 - 기본 템플릿-->
  <div class="panel sub sub1 ">
    <div class="panel_title">
      <h3>기본 템플릿</h3>
      <span role="button" class="btn panel_setting_open" aria-label="속성 열기">
        <i class="arrow_down"></i><span class="blind">속성 열기</span>
      </span>
    </div>

    <div class="panel_setting">
      <div class="panel_subtree type_template">
        <div class="example_list active">
          <div class="row">
            <span role="button" class="btn example_subtree_open on active">
              <i class="arrow_down"></i><span>1. 학습목표</span>
            </span>
          </div>

          <div class="example_subtree">
            <div class="row">
              <div class="items is--hover">
                <p class="tit">표지</p>
                <img src="/asset/template/default_goal/preview_default_goal_01.png">
              </div>
            </div>
            <div class="row">
              <div class="items">
                <p class="tit">글머리 기호 1</p>
                <img src="/asset/template/default_goal/preview_default_goal_02.png">
              </div>
            </div>
            <div class="row">
              <div class="items">
                <p class="tit">글머리 기호 2</p>
                <img src="/asset/template/default_goal/preview_default_goal_03.png">
              </div>
            </div>
            <div class="row">
              <div class="items">
                <p class="tit">말풍선</p>
                <img src="/asset/template/default_goal/preview_default_goal_04.png">
              </div>
            </div>
          </div>
        </div>

        <div class="example_list">
          <div class="row">
            <span role="button" class="btn example_subtree_open">
              <i class="arrow_down"></i><span>2. 학습내용</span>
            </span>
          </div>

          <div class="example_subtree">
            <div class="row">
              <div class="items is--hover">
                <p class="tit">텍스트</p>
                <img src="/asset/template/default_study/preview_default_study_01.png">
              </div>
            </div>
            <div class="row">
              <div class="items">
                <p class="tit">이미지</p>
                <img src="/asset/template/default_study/preview_default_study_02.png">
              </div>
            </div>
            <div class="row">
              <div class="items">
                <p class="tit">이미지 + 텍스트</p>
                <img src="/asset/template/default_study/preview_default_study_03.png">
              </div>
            </div>
            <div class="row">
              <div class="items">
                <p class="tit">비디오</p>
                <img src="/asset/template/default_study/preview_default_study_04.png">
              </div>
            </div>
          </div>
        </div>

        <div class="example_list">
          <div class="row">
            <span role="button" class="btn example_subtree_open">
              <i class="arrow_down"></i><span>3. 학습정리</span>
            </span>
          </div>

          <div class="example_subtree">
            <div class="row">
              <div class="items">
                <p class="tit">글머리 기호 1</p>
                <img src="/asset/template/default_summary/preview_default_summary_01.png">
              </div>
            </div>
            <div class="row">
              <div class="items">
                <p class="tit">글머리 기호 2</p>
                <img src="/asset/template/default_summary/preview_default_summary_02.png">
              </div>
            </div>
            <div class="row">
              <div class="items">
                <p class="tit">다음 시간 안내</p>
                <img src="/asset/template/default_summary/preview_default_summary_03.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel sub sub2 ">
    <div class="panel_title">
      <h3>컴포넌트</h3>
      <span role="button" class="btn panel_setting_open" aria-label="속성 열기">
        <i class="arrow_down"></i><span class="blind">속성 열기</span>
      </span>
    </div>

    <div class="panel_setting">
      <div class="panel_subtree type_template">
        <div class="row">
          <div class="items">
            <p class="tit">객관식 퀴즈</p>
            <img src="/asset/template/component/preview_component_01.png">
          </div>
        </div>
        <div class="row">
          <div class="items">
            <p class="tit">주관식 퀴즈</p>
            <img src="/asset/template/component/preview_component_02.png">
          </div>
        </div>
        <div class="row">
          <div class="items">
            <p class="tit">선긋기 퀴즈</p>
            <img src="/asset/template/component/preview_component_03.png">
          </div>
        </div>
        <div class="row">
          <div class="items">
            <p class="tit">OX 퀴즈</p>
            <img src="/asset/template/component/preview_component_04.png">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel sub sub3 ">
    <div class="panel_title">
      <h3>나만의 템플릿</h3>
      <span role="button" class="btn panel_setting_open" aria-label="속성 열기">
        <i class="arrow_down"></i><span class="blind">속성 열기</span>
      </span>
    </div>

    <div class="panel_setting">
      <div class="panel_subtree type_template">
        <div class="example_list active">
          <div class="row">
            <span role="button" class="btn example_subtree_open on active">
              <i class="arrow_down"></i><span class="fav">즐겨찾기</span>
            </span>
          </div>

          <div class="example_subtree">
            <div class="row">
              <div class="items">
                <p class="tit">표지</p>
                <img src="/asset/template/default_goal/preview_default_goal_01.png">
              </div>
            </div>
          </div>
        </div>

        <!-- #P: 드래그 이동 시 이동 하는 위치  '.move--list--order' 추가하여 밑줄 위치 표기  -->
        <div class="example_list move--list--order">
          <div class="row">
            <span role="button" class="btn example_subtree_open">
              <i class="arrow_down"></i>
              <span class="user_tit">
                <input type="text" class="scw90" value="사용자 지정 템플릿 1"/>
              </span>
            </span>
          </div>

          <div class="example_subtree">
            <div class="row">
            </div>
          </div>
        </div>

        <div class="example_list is--disabled">
          <div class="row">
            <span role="button" class="btn example_subtree_open">
              <i class="arrow_down"></i>
              <span class="user_tit">
                <input type="text" class="scw90" value="사용자 지정 템플릿 2"/>
              </span>
            </span>
          </div>

          <div class="example_subtree">
            <div class="row">
            </div>
          </div>
        </div>

        <!-- #P: 드래그 시 복사하여 '.is--dragging' 추가, 기존 엘리먼트는 '.is--disabled' 추가 -->
        <div class="example_list is--dragging" style="top: 402px; left: 12px;">
          <div class="row">
            <span role="button" class="btn example_subtree_open">
              <i class="arrow_down"></i>
              <span class="user_tit">
                <input type="text" class="scw90" value="사용자 지정 템플릿 2"/>
              </span>
            </span>
          </div>

          <div class="example_subtree">
            <div class="row">
            </div>
          </div>
        </div>

        <div class="example_list">
          <div class="row">
            <span role="button" class="btn example_subtree_open">
              <i class="arrow_down"></i>
              <span class="user_tit is--edit">
                <input type="text" class="scw90" value="사용자 지정 템플릿 3"/>
              </span>
            </span>
          </div>

          <div class="example_subtree">
            <div class="row">
            </div>
          </div>
        </div>

        <div class="example_insert">
          <button type="button" class="btn b_t w100" aria-label="카테고리 추가">
            <span>카테고리 추가</span>
          </button>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="btn_wrap top">
  <button type="button" class="btn" aria-label="완료">
    <svg class="svg_properties_done" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M10.566 9.435a.8.8 0 0 0-1.131 1.13L14.869 16l-5.434 5.434a.8.8 0 0 0 1.13 1.132L16 17.132l5.434 5.434a.8.8 0 0 0 1.132-1.131L17.132 16l5.434-5.434a.8.8 0 0 0-1.131-1.131L16 14.869l-5.434-5.434Z" fill="#979797"/>
    </svg>

    <span class="blind">완료</span>
  </button>
</div>
<link rel="stylesheet" type="text/css" href="./asset/css/lib/spectrum.css">
<script type="text/javascript" src="./asset/js/spectrum.js"></script>
<script>
  $("#spectrumColor").spectrum({
    containerClassName: "spectrum_theme",
    type: "flat",
    hideAfterPaletteSelect: true,
    showInitial: true,
    showButtons: false,
    allowEmpty: false,
    showPalette : true,
    showAlpha: true,
    palette: [
      ['rgb(0,0,0)', 'rgb(255,255,255)', 'rgb(255,0,0)', 'rgb(255,192,0)', 'rgb(255,255,0)', 'rgb(146,208,80)', 'rgb(0,176,240)', 'rgb(38,89,255)'],
    ],
    showSelectionPalette: true,
    selectionPalette: ['rgb(209,192,165)', 'rgb(241,159,194)', 'rgb(241,159,194)', 'rgb(170,137,190)', 'rgb(137,171,218)', 'rgb(133,204,201)', 'rgb(49,177,108)', 'rgb(179,212,101)', 'rgb(236,104,65)'],
    maxSelectionSize: 8,
    localStorageKey: "selpubCreatorSpectrum",
  });
  $(".panel_setting_open").on("click", function(e){
    var target = e.currentTarget.closest(".panel");
    $(target).toggleClass("active");
  });
  $(".scroll_box .panel.sub").hide();
  $(".scroll_box .panel.sub").removeClass("active")

    $(".btn.select_sub_tools").on("click", function(e){
            var target = e.currentTarget;
            $(".btn.select_sub_tools").removeClass("on");
            $(target).addClass("on");
            var str = target.ariaLabel;
            $(".scroll_box .panel.sub").hide();
            $(".scroll_box .panel.sub").removeClass("active")
            switch (str) {
              case "기본 템플릿":
                $(".panel.sub.sub1").show();
                $(".panel.sub.sub1").addClass("active");
                break;
              case "컴포넌트":
                $(".panel.sub.sub2").show();
                $(".panel.sub.sub2").addClass("active");
                break;
              case "나만의 템플릿":
                $(".panel.sub.sub3").show();
                $(".panel.sub.sub3").addClass("active");
                break;
            }
    });
</script>