<div class="title">
  <h2>배경</h2>

  <div class="btn_wrap">
    <button type="button" class="btn properties_close" aria-label="속성 닫기">
      <svg class="svg_properties_close" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1L7 7L1 13" stroke="#979797" stroke-width="2"></path>
        <path d="M9 1L15 7L9 13" stroke="#979797" stroke-width="2"></path>
      </svg>
      <span class="blind">속성 닫기</span>
    </button>
  </div>
</div>

<div class="inner scroll_box">
  <!-- // 속성 - 도구 - 배경 -->
  <div class="panel active">
    <div class="panel_title">
      <h3>도구</h3>
      <span role="button" class="btn panel_setting_open" aria-label="속성 열기">
        <i class="arrow_down"></i><span class="blind">속성 열기</span>
      </span>
    </div>

    <div class="panel_setting">
      <div class="panel_subtree">
        <div class="row tools_type">
          <button type="button" class="btn select_sub_tools on" aria-label="없음">
            <i class="svg_sts_background_01"></i><span class="blind">없음</span>
          </button>
          <button type="button" class="btn select_sub_tools " aria-label="단색">
            <i class="svg_sts_background_02"></i><span class="blind">단색</span>
          </button>
          <button type="button" class="btn select_sub_tools" aria-label="라이브러리 이미지">
            <i class="svg_sts_background_03"></i><span class="blind">라이브러리 이미지</span>
          </button>
          <button type="button" class="btn select_sub_tools" aria-label="사용자 이미지">
            <i class="svg_sts_background_04"></i><span class="blind">사용자 이미지</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- // 속성 - 색상 -->
  <div class="panel sub sub1 ">
    <div class="panel_title">
      <h3>색상</h3>
      <span role="button" class="btn panel_setting_open" aria-label="속성 열기">
        <i class="arrow_down"></i><span class="blind">속성 열기</span>
      </span>
    </div>

    <div class="panel_setting">
      <div class="panel_subtree">
        <div class="spectrum_box has_alpha">
          <input id="spectrumColor" class="blind">

          <div class="color_picker_wrap">
            <button type="button" class="btn color_picker" aria-label="속성 닫기">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" xml:space="preserve">
                <path d="M6 19.5c-.3 0-.7-.1-1-.3-.3-.2-.5-.5-.6-.9v-.2l.4-2.9L12 8.1l-.7-.7 1.1-1.1 5.1 5.1-1.1 1.1-.5-.5-7.1 7.1-2.6.3c-.1.1-.1.1-.2.1zm.4-3.5-.3 1.9 2-.3 6.7-6.7-1.7-1.7L6.4 16z" fill="#d8d8d8"/>
                <path d="m18.4 4.4 1.2 1.2c.7.7.7 2 0 2.7l-1.4 1.4-3.9-3.9 1.4-1.4c.8-.7 2-.7 2.7 0z" fill-rule="evenodd" clip-rule="evenodd" fill="#d8d8d8"/>
              </svg>
              <span class="blind">스포이드</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel sub sub2 ">
    <div class="panel_title">
      <h3>라이브러리 이미지</h3>
      <span role="button" class="btn panel_setting_open" aria-label="속성 열기">
        <i class="arrow_down"></i><span class="blind">속성 열기</span>
      </span>
    </div>

    <div class="panel_setting">
      <div class="panel_subtree">
        <div class="scroll_box icon_scroll mx">
          <ul class="icon_list library_list flex">
            <li>
              <div class="btn box slide active">
                <img src="/asset/library/preview_01.png" alt="이미지">
              </div>
            </li>
            <li>
              <div class="btn box slide">
                <img src="/asset/library/preview_02.png" alt="이미지">
              </div>
            </li>
            <li>
              <div class="btn box slide">
                <img src="/asset/library/preview_03.png" alt="이미지">
              </div>
            </li>
            <li>
              <div class="btn box slide">
                <img src="/asset/library/preview_04.png" alt="이미지">
              </div>
            </li>
            <li>
              <div class="btn box slide">
                <img src="/asset/library/preview_05.png" alt="이미지">
              </div>
            </li>
            <li>
              <div class="btn box slide">
                <img src="/asset/library/preview_06.png" alt="이미지">
              </div>
            </li>
            <li>
              <div class="btn box slide">
                <img src="/asset/library/preview_07.png" alt="이미지">
              </div>
            </li>
            <li>
              <div class="btn box slide">
                <img src="/asset/library/preview_08.png" alt="이미지">
              </div>
            </li>
            <li>
              <div class="btn box slide active">
                <img src="/asset/library/preview_09.png" alt="이미지">
              </div>
            </li>
            <li>
              <div class="btn box slide">
                <img src="/asset/library/preview_10.png" alt="이미지">
              </div>
            </li>
            <li>
              <div class="btn box slide">
                <img src="/asset/library/preview_11.png" alt="이미지">
              </div>
            </li>
            <li>
              <div class="btn box slide">
                <img src="/asset/library/preview_12.png" alt="이미지">
              </div>
            </li>
            <li>
              <div class="btn box slide">
                <img src="/asset/library/preview_13.png" alt="이미지">
              </div>
            </li>
            <li>
              <div class="btn box slide">
                <img src="/asset/library/preview_14.png" alt="이미지">
              </div>
            </li>
            <li>
              <div class="btn box slide">
                <img src="/asset/library/preview_15.png" alt="이미지">
              </div>
            </li>
            <li>
              <div class="btn box slide">
                <img src="/asset/library/preview_16.png" alt="이미지">
              </div>
            </li>
            <li>
              <div class="btn box slide">
                <img src="/asset/library/preview_17.png" alt="이미지">
              </div>
            </li>
            <li>
              <div class="btn box slide">
                <img src="/asset/library/preview_18.png" alt="이미지">
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="panel sub sub3 ">
    <div class="panel_title">
      <h3>연결</h3>
      <span role="button" class="btn panel_setting_open" aria-label="속성 열기">
        <i class="arrow_down"></i><span class="blind">속성 열기</span>
      </span>
    </div>

    <div class="panel_setting">
      <div class="panel_subtree">
        <div class="row">
          <span class="word">File<span class="wcln">:</span></span>
          <div class="input_box method_cloud mw190">
            <input type="text" class="scw90" placeholder="" disabled readonly>
            <span role="button" class="btn find_more" aria-label="찾아보기">
              <i class="svg_find_more"></i>
              <span class="blind">찾아보기</span>
            </span>
          </div>
        </div>
      </div>

      <div class="panel_subtree mt14">
        <div class="row">
          <div class="radio_wrap">
            <label class="radio_label">
              <input type="radio" name="subtree_filltype" class="blind"  checked>
              <span class="rlabel">채우기</span>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="radio_wrap">
            <label class="radio_label">
              <input type="radio" name="subtree_filltype" class="blind">
              <span class="rlabel">확대</span>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="radio_wrap">
            <label class="radio_label">
              <input type="radio" name="subtree_filltype" class="blind">
              <span class="rlabel">바닥판식 배열</span>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="radio_wrap">
            <label class="radio_label">
              <input type="radio" name="subtree_filltype" class="blind">
              <span class="rlabel">가운데</span>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="radio_wrap">
            <label class="radio_label">
              <input type="radio" name="subtree_filltype" class="blind">
              <span class="rlabel">맞춤</span>
            </label>
          </div>
        </div>
      </div>

      <div class="panel_subtree" style="display: none">
        <div class="spectrum_box has_alpha">
          <input id="spectrumColor" class="blind">

          <div class="color_picker_wrap">
            <button type="button" class="btn color_picker" aria-label="속성 닫기">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" xml:space="preserve">
                <path d="M6 19.5c-.3 0-.7-.1-1-.3-.3-.2-.5-.5-.6-.9v-.2l.4-2.9L12 8.1l-.7-.7 1.1-1.1 5.1 5.1-1.1 1.1-.5-.5-7.1 7.1-2.6.3c-.1.1-.1.1-.2.1zm.4-3.5-.3 1.9 2-.3 6.7-6.7-1.7-1.7L6.4 16z" fill="#d8d8d8"/>
                <path d="m18.4 4.4 1.2 1.2c.7.7.7 2 0 2.7l-1.4 1.4-3.9-3.9 1.4-1.4c.8-.7 2-.7 2.7 0z" fill-rule="evenodd" clip-rule="evenodd" fill="#d8d8d8"/>
              </svg>
              <span class="blind">스포이드</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="btn_wrap top">
  <button type="button" class="btn" aria-label="완료">
    <svg class="svg_properties_done" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M10.566 9.435a.8.8 0 0 0-1.131 1.13L14.869 16l-5.434 5.434a.8.8 0 0 0 1.13 1.132L16 17.132l5.434 5.434a.8.8 0 0 0 1.132-1.131L17.132 16l5.434-5.434a.8.8 0 0 0-1.131-1.131L16 14.869l-5.434-5.434Z" fill="#979797"/>
    </svg>

    <span class="blind">완료</span>
  </button>
</div>
<link rel="stylesheet" type="text/css" href="./asset/css/lib/spectrum.css">
<script type="text/javascript" src="./asset/js/spectrum.js"></script>
<script>
  $("#spectrumColor").spectrum({
    containerClassName: "spectrum_theme",
    type: "flat",
    hideAfterPaletteSelect: true,
    showInitial: true,
    showButtons: false,
    allowEmpty: false,
    showPalette : true,
    showAlpha: true,
    palette: [
      ['rgb(0,0,0)', 'rgb(255,255,255)', 'rgb(255,0,0)', 'rgb(255,192,0)', 'rgb(255,255,0)', 'rgb(146,208,80)', 'rgb(0,176,240)', 'rgb(38,89,255)'],
    ],
    showSelectionPalette: true,
    selectionPalette: ['rgb(209,192,165)', 'rgb(241,159,194)', 'rgb(241,159,194)', 'rgb(170,137,190)', 'rgb(137,171,218)', 'rgb(133,204,201)', 'rgb(49,177,108)', 'rgb(179,212,101)', 'rgb(236,104,65)'],
    maxSelectionSize: 8,
    localStorageKey: "selpubCreatorSpectrum",
  });
  $(".panel_setting_open").on("click", function(e){
    var target = e.currentTarget.closest(".panel");
    $(target).toggleClass("active");
  });

  $(".scroll_box .panel.sub").hide();
  $(".scroll_box .panel.sub").removeClass("active")

    $(".btn.select_sub_tools").on("click", function(e){
            var target = e.currentTarget;
            $(".btn.select_sub_tools").removeClass("on");
            $(target).addClass("on");
            var str = target.ariaLabel;
            $(".scroll_box .panel.sub").hide();
            $(".scroll_box .panel.sub").removeClass("active")
            switch (str) {
              case "단색":
                $(".panel.sub.sub1").show();
                $(".panel.sub.sub1").addClass("active");
                break;
              case "라이브러리 이미지":
                $(".panel.sub.sub2").show();
                $(".panel.sub.sub2").addClass("active");
                break;
              case "사용자 이미지":
                $(".panel.sub.sub3").show();
                $(".panel.sub.sub3").addClass("active");
                break;
              case "없음":
               //remove background
                break;
            }
    });
</script>