<div class="title">
    <h2>선긋기 퀴즈</h2>

    <div class="btn_wrap">
        <button type="button" class="btn properties_close" aria-label="속성 닫기">
            <svg class="svg_properties_close" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L7 7L1 13" stroke="#979797" stroke-width="2"></path>
                <path d="M9 1L15 7L9 13" stroke="#979797" stroke-width="2"></path>
            </svg>
            <span class="blind">속성 닫기</span>
        </button>
    </div>
</div>

<div class="inner scroll_box">
    <div class="panel">
        <div class="panel_title">
            <h3>정답 확인</h3>
            <span role="button" class="btn panel_setting_open" aria-label="정답 확인">
                <i class="arrow_down"></i><span class="blind">속성 열기</span>
            </span>
        </div>
        <div class="panel_setting">
            <div class="panel_subtree">
                <div class="row ctrl_size">
                    <div class="col">
                        <span class="word">Left<span class="wcln">:</span></span>
                        <input type="number" class="scw90 input_t" value="0" name="left">
                        <span class="unit">px</span>
                    </div>
                    <div class="col">
                        <span class="word">Top<span class="wcln">:</span></span>
                        <input type="number" class="scw90 input_t" value="0" name="top">
                        <span class="unit">px</span>
                    </div>
                </div>
                <div class="row ctrl_size">
                    <span class="check_wrap">
                        <label class="check_label">
                            <input type="checkbox" class="blind">
                            <span class="clabel">버튼 숨기기</span>
                        </label>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel_title">
            <h3>다시 풀기</h3>
            <span role="button" class="btn panel_setting_open" aria-label="다시 풀기">
                <i class="arrow_down"></i><span class="blind">속성 열기</span>
            </span>
        </div>
        <div class="panel_setting">
            <div class="panel_subtree">
                <div class="row ctrl_size">
                    <div class="col">
                        <span class="word">Left<span class="wcln">:</span></span>
                        <input type="number" class="scw90 input_t" value="0" name="left">
                        <span class="unit">px</span>
                    </div>
                    <div class="col">
                        <span class="word">Top<span class="wcln">:</span></span>
                        <input type="number" class="scw90 input_t" value="0" name="top">
                        <span class="unit">px</span>
                    </div>
                </div>
                <div class="row ctrl_size">
                    <span class="check_wrap">
                        <label class="check_label">
                            <input type="checkbox" class="blind">
                            <span class="clabel">버튼 숨기기</span>
                        </label>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel_title">
            <h3>지시문</h3>
            <span role="button" class="btn panel_setting_open" aria-label="지시문">
                <i class="arrow_down"></i><span class="blind">지시문</span>
            </span>
        </div>
        <div class="panel_setting ">
            <div class="panel_subtree dividing">
                <h4>위치</h4>
                <div class="row ctrl_size">
                    <div class="col">
                        <span class="word">Left<span class="wcln">:</span></span>
                        <input type="number" class="scw90 input_t" value="0" name="left">
                        <span class="unit">px</span>
                    </div>
                    <div class="col">
                        <span class="word">Top<span class="wcln">:</span></span>
                        <input type="number" class="scw90 input_t" value="0" name="top">
                        <span class="unit">px</span>
                    </div>
                </div>
            </div>
            <div class="panel_subtree dividing">
                <h4>내용</h4>
                <div class="row">
                    <div class="input_box mw226">
                        <input type="text" name="buttonText" class="scw90 input_t" placeholder="지시문을 입력하세요.">
                    </div>
                </div>
            </div>
            <div class="panel_subtree">
                <h4>텍스트</h4>
                <div class="row">
                    <div class="font_select_box">
                        <div class="select_wrap">
                            <span class="select_toggle" selecteddata="font">Noto Sans KR</span>
                            <span class="select_list" popup="font">
                                <span class="scroll_box">
                                    <span class="items on" data="font">Noto Sans KR</span>
                                    <span class="items" data="font">나눔 고딕</span>
                                    <span class="items" data="font">나눔 명조</span>
                                    <span class="items" data="font">나눔 스퀘어</span>
                                    <span class="items" data="font">나눔 스퀘어 라운드</span>
                                    <span class="items" data="font">나눔 손글씨</span>
                                    <span class="items" data="font">빙그레체</span>
                                    <span class="items" data="font">고도체</span>
                                    <span class="items" data="font">배민의민족 주아</span>
                                    <span class="items" data="font">배달의민족 도현</span>
                                    <span class="items" data="font">Gmarket Sans</span>
                                    <span class="items" data="font">Kopub Batng</span>
                                    <span class="items" data="font">Kopub Dotum</span>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col flex mw104">
                        <span class="word">
                            <i class="svg_font_size"></i><span class="blind">크기</span>
                        </span>

                        <div class="font_select_box mw72">
                            <div class="select_wrap">
                                <span class="select_toggle" selecteddata="size">14</span>
                                <span class="select_list" popup="size">
                                    <span class="scroll_box">
                                        <span class="items" data="size">10</span>
                                        <span class="items" data="size">11</span>
                                        <span class="items" data="size">12</span>
                                        <span class="items" data="size">13</span>
                                        <span class="items on" data="size">14</span>
                                        <span class="items" data="size">15</span>
                                        <span class="items" data="size">16</span>
                                        <span class="items" data="size">20</span>
                                        <span class="items" data="size">24</span>
                                        <span class="items" data="size">32</span>
                                        <span class="items" data="size">36</span>
                                        <span class="items" data="size">40</span>
                                        <span class="items" data="size">48</span>
                                        <span class="items" data="size">64</span>
                                        <span class="items" data="size">96</span>
                                        <span class="items" data="size">128</span>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col flex mw104">
                        <span class="word">
                            <i class="svg_font_lineheight"></i><span class="blind">행간</span>
                        </span>

                        <div class="font_select_box mw72">
                            <div class="select_wrap">
                                <span class="select_toggle" selecteddata="line">1.5</span>
                                <span class="select_list" popup="line">
                                    <span class="scroll_box">
                                        <span class="items" data="line">1.0</span>
                                        <span class="items" data="line">1.2</span>
                                        <span class="items" data="line">1.3</span>
                                        <span class="items" data="line">1.4</span>
                                        <span class="items on">1.5</span>
                                        <span class="items" data="line">1.6</span>
                                        <span class="items" data="line">2.0</span>
                                        <span class="items" data="line">2.5</span>
                                        <span class="items" data="line">3.0</span>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="font_style_box">
                        <span role="button" data="italic" class="btn font_style">
                            <i class="svg_fontstyle_it"></i><span class="blind">이탤릭</span>
                        </span>
                        <span role="button" data="bold" class="btn font_style">
                            <i class="svg_fontstyle_bo"></i><span class="blind">볼드</span>
                        </span>
                        <span role="button" data="underline" class="btn font_style">
                            <i class="svg_fontstyle_un"></i><span class="blind">언더라인</span>
                        </span>
                    </div>

                    <div class="font_color_box">
                        <span class="select_color_picker" data="fontColor">
                            <input type="text" class="blind"> <!-- active_color, fill="#70CCEB" -->
                            <svg class="select_color" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"
                                xml:space="preserve">
                                <path class="active_color"
                                    d="M12 8.5H1.5l5 5.5zm3 5c.8 0 1.5-.7 1.5-1.5S15 9.8 15 9.8s-1.5 1.4-1.5 2.2c0 .8.7 1.5 1.5 1.5zM.8 15.8h16.5v1.5H.8z"
                                    fill="#70CCEB" style="fill: rgb(0, 0, 0);"></path>
                                <path fill="none" stroke="#D8D8D8" stroke-linecap="round" stroke-linejoin="round"
                                    d="M12 8.2H1.5m6-5.2L6 1.5M16.5 12c0 .8-.7 1.5-1.5 1.5s-1.5-.7-1.5-1.5S15 9.8 15 9.8s1.5 1.4 1.5 2.2zM6.8 2.2l5.1 5.2c.3.3.4.4.5.6v.5c-.1.2-.2.3-.5.6l-3.5 3.5c-.6.6-.9.9-1.2 1-.3.1-.6.1-.9 0-.3-.1-.6-.4-1.2-1L2.4 9.9c-.6-.6-.9-.9-1-1.2-.1-.3-.1-.6 0-.9.1-.3.4-.6 1-1.2l4.4-4.4z">
                                </path>
                            </svg>
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="font_style_box">
                        <span role="button" data="align" value="left" class="btn font_style">
                            <i class="svg_fontstyle_al_l"></i><span class="blind">왼쪽 정렬</span>
                        </span>
                        <span role="button" data="align" value="center" class="btn font_style">
                            <i class="svg_fontstyle_al_c"></i><span class="blind">중앙 정렬</span>
                        </span>
                        <span role="button" data="align" value="right" class="btn font_style">
                            <i class="svg_fontstyle_al_r"></i><span class="blind">오른쪽 정렬</span>
                        </span>
                        <span role="button" data="align" value="justify" class="btn font_style">
                            <i class="svg_fontstyle_al_j"></i><span class="blind">양쪽 정렬</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel_title">
            <h3>시작점</h3>
            <span role="button" class="btn panel_setting_open" aria-label="시작점">
                <i class="arrow_down"></i><span class="blind">시작점</span>
            </span>
        </div>
        <div class="inner panel_setting scroll_box" style="max-height: 500px;">
            <div class="panel_subtree  dividing">
                <div class="example_list">
                    <div class="row">
                        <span class="num trans">1.</span>
                        <span role="button" class="btn example_subtree_open">
                            <i class="arrow_down"></i>
                            <span>시작점 1</span>
                        </span>
                    </div>

                    <div class="example_subtree">
                        <div class="row ctrl_size">
                            <div class="col">
                                <span class="word">Left<span class="wcln">:</span></span>
                                <input id="left" autocomplete="off" type="number" class="scw90 input_t" value="0">
                                <span class="unit">px</span>
                            </div>
                            <div class="col">
                                <span class="word">Top<span class="wcln">:</span></span>
                                <input id="top" autocomplete="off" type="number" class="scw90 input_t" value="0">
                                <span class="unit">px</span>
                            </div>
                        </div>
                        <div class="row">
                            <span class="word">정답<span class="wcln">:</span></span>
                            <div class="input_box method_cloud mw159">
                              <span class="plural">
                                  <span class="row plural_line">
                                      <span class="select_wrap mw138">
                                        <span class="select_toggle">-</span>
                                        <span class="select_list">
                                          <span class="scroll_box" popup="line">
                                            <span class="items" data="1">1</span>
                                            <span class="items" data="2">2</span>
                                            <span class="items" data="3">3</span>
                                            <span class="items" data="4">4</span>
                                            <span class="items" data="5">5</span>
                                          </span>
                                        </span>
                                      </span>
                                      <span role="button" class="btn plural_delete blind" aria-label="삭제"><span class="blind">삭제</span></span>
                                      <span role="button" class="btn plural_insert" aria-label="추가"><span class="blind">추가</span></span>
                                    </span>
                              </span>
                            </div>
                        </div>
                    </div>
                    <div class="example_detele">
                        <span role="button" class="btn remove delete_example" aria-label="삭제">
                            <span class="blind">삭제</span>
                        </span>
                    </div>
                </div>
                <div class="example_list">
                    <div class="row">
                        <span class="num trans">2.</span>
                        <span role="button" class="btn example_subtree_open">
                            <i class="arrow_down"></i>
                            <span>시작점 2</span>
                        </span>
                    </div>

                    <div class="example_subtree">
                        <div class="row ctrl_size">
                            <div class="col">
                                <span class="word">Left<span class="wcln">:</span></span>
                                <input id="left" autocomplete="off" type="number" class="scw90 input_t" value="0">
                                <span class="unit">px</span>
                            </div>
                            <div class="col">
                                <span class="word">Top<span class="wcln">:</span></span>
                                <input id="top" autocomplete="off" type="number" class="scw90 input_t" value="0">
                                <span class="unit">px</span>
                            </div>
                        </div>
                        <div class="row">
                            <span class="word">정답<span class="wcln">:</span></span>
                            <div class="input_box method_cloud mw159">
                              <span class="plural">
                                  <span class="row plural_line">
                                      <span class="select_wrap mw138">
                                        <span class="select_toggle">-</span>
                                        <span class="select_list">
                                          <span class="scroll_box" popup="line">
                                            <span class="items" data="1">1</span>
                                            <span class="items" data="2">2</span>
                                            <span class="items" data="3">3</span>
                                            <span class="items" data="4">4</span>
                                            <span class="items" data="5">5</span>
                                          </span>
                                        </span>
                                      </span>
                                      <span role="button" class="btn plural_delete blind" aria-label="삭제"><span class="blind">삭제</span></span>
                                      <span role="button" class="btn plural_insert" aria-label="추가"><span class="blind">추가</span></span>
                                    </span>
                              </span>
                            </div>
                        </div>
                    </div>
                    <div class="example_detele">
                        <span role="button" class="btn remove delete_example" aria-label="삭제">
                            <span class="blind">삭제</span>
                        </span>
                    </div>
                </div>
                <div class="example_list">
                    <div class="row">
                        <span class="num trans">3.</span>
                        <span role="button" class="btn example_subtree_open">
                            <i class="arrow_down"></i>
                            <span>시작점 3</span>
                        </span>
                    </div>

                    <div class="example_subtree">
                        <div class="row ctrl_size">
                            <div class="col">
                                <span class="word">Left<span class="wcln">:</span></span>
                                <input id="left" autocomplete="off" type="number" class="scw90 input_t" value="0">
                                <span class="unit">px</span>
                            </div>
                            <div class="col">
                                <span class="word">Top<span class="wcln">:</span></span>
                                <input id="top" autocomplete="off" type="number" class="scw90 input_t" value="0">
                                <span class="unit">px</span>
                            </div>
                        </div>
                        <div class="row">
                            <span class="word">정답<span class="wcln">:</span></span>
                            <div class="input_box method_cloud mw159">
                              <span class="plural">
                                  <span class="row plural_line">
                                      <span class="select_wrap mw138">
                                        <span class="select_toggle">-</span>
                                        <span class="select_list">
                                          <span class="scroll_box" popup="line">
                                            <span class="items" data="1">1</span>
                                            <span class="items" data="2">2</span>
                                            <span class="items" data="3">3</span>
                                            <span class="items" data="4">4</span>
                                            <span class="items" data="5">5</span>
                                          </span>
                                        </span>
                                      </span>
                                      <span role="button" class="btn plural_delete blind" aria-label="삭제"><span class="blind">삭제</span></span>
                                      <span role="button" class="btn plural_insert" aria-label="추가"><span class="blind">추가</span></span>
                                    </span>
                              </span>
                            </div>
                        </div>
                    </div>
                    <div class="example_detele">
                        <span role="button" class="btn remove delete_example" aria-label="삭제">
                            <span class="blind">삭제</span>
                        </span>
                    </div>
                </div>
                <div class="example_insert">
                    <button type="button" class="btn b_t w100" aria-label="추가">
                        <span>추가</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel_title">
            <h3>종료점</h3>
            <span role="button" class="btn panel_setting_open" aria-label="종료점">
                <i class="arrow_down"></i><span class="blind">종료점</span>
            </span>
        </div>
        <div class="inner panel_setting scroll_box" style="max-height: 500px;">
            <div class="panel_subtree  dividing">
                <div class="example_list">
                    <div class="row">
                        <span class="num trans">1.</span>
                        <span role="button" class="btn example_subtree_open">
                            <i class="arrow_down"></i>
                            <span>종료점 1</span>
                        </span>
                    </div>

                    <div class="example_subtree">
                        <div class="row ctrl_size">
                            <div class="col">
                                <span class="word">Left<span class="wcln">:</span></span>
                                <input id="left" autocomplete="off" type="number" class="scw90 input_t" value="0">
                                <span class="unit">px</span>
                            </div>
                            <div class="col">
                                <span class="word">Top<span class="wcln">:</span></span>
                                <input id="top" autocomplete="off" type="number" class="scw90 input_t" value="0">
                                <span class="unit">px</span>
                            </div>
                        </div>
                    </div>
                    <div class="example_detele">
                        <span role="button" class="btn remove delete_example" aria-label="삭제">
                            <span class="blind">삭제</span>
                        </span>
                    </div>
                </div>
                <div class="example_list">
                    <div class="row">
                        <span class="num trans">2.</span>
                        <span role="button" class="btn example_subtree_open">
                            <i class="arrow_down"></i>
                            <span>종료점 2</span>
                        </span>
                    </div>

                    <div class="example_subtree">
                        <div class="row ctrl_size">
                            <div class="col">
                                <span class="word">Left<span class="wcln">:</span></span>
                                <input id="left" autocomplete="off" type="number" class="scw90 input_t" value="0">
                                <span class="unit">px</span>
                            </div>
                            <div class="col">
                                <span class="word">Top<span class="wcln">:</span></span>
                                <input id="top" autocomplete="off" type="number" class="scw90 input_t" value="0">
                                <span class="unit">px</span>
                            </div>
                        </div>
                    </div>
                    <div class="example_detele">
                        <span role="button" class="btn remove delete_example" aria-label="삭제">
                            <span class="blind">삭제</span>
                        </span>
                    </div>
                </div>
                <div class="example_list">
                    <div class="row">
                        <span class="num trans">2.</span>
                        <span role="button" class="btn example_subtree_open">
                            <i class="arrow_down"></i>
                            <span>종료점 2</span>
                        </span>
                    </div>

                    <div class="example_subtree">
                        <div class="row ctrl_size">
                            <div class="col">
                                <span class="word">Left<span class="wcln">:</span></span>
                                <input id="left" autocomplete="off" type="number" class="scw90 input_t" value="0">
                                <span class="unit">px</span>
                            </div>
                            <div class="col">
                                <span class="word">Top<span class="wcln">:</span></span>
                                <input id="top" autocomplete="off" type="number" class="scw90 input_t" value="0">
                                <span class="unit">px</span>
                            </div>
                        </div>
                    </div>
                    <div class="example_detele">
                        <span role="button" class="btn remove delete_example" aria-label="삭제">
                            <span class="blind">삭제</span>
                        </span>
                    </div>
                </div>
                <div class="example_insert">
                    <button type="button" class="btn b_t w100" aria-label="추가">
                        <span>추가</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel_title">
            <h3>채점</h3>
            <span role="button" class="btn panel_setting_open" aria-label="속성 열기">
                <i class="arrow_down"></i><span class="blind">속성 열기</span>
            </span>
        </div>

        <div id="marking-setting" class="panel_setting">
            <div class="panel_subtree">
                <div class="row valign_t">
                    <div class="col">
                        <div class="radio_wrap column">
                            <label class="radio_label">
                                <input id="radio-hide" type="radio" name="subtree_marking" class="blind" checked="">
                                <span class="rlabel">숨기기</span>
                            </label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="radio_wrap column">
                            <label class="radio_label">
                                <input id="radio-show" type="radio" name="subtree_marking" class="blind">
                                <span class="rlabel">보이기</span>
                            </label>

                            <div class="sub_attribute col_sub_pos">
                                <div class="row ctrl_size">
                                    <div class="col">
                                        <span class="word">Left<span class="wcln">:</span></span>
                                        <input id="left" autocomplete="off" type="number" class="scw90 input_t"
                                            value="0">
                                        <span class="unit">px</span>
                                    </div>
                                    <div class="col">
                                        <span class="word">Top<span class="wcln">:</span></span>
                                        <input id="top" autocomplete="off" type="number" class="scw90 input_t"
                                            value="0">
                                        <span class="unit">px</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="spectrum_box has_alpha">
        <input id="spectrumColor" class="blind">

        <div class="color_picker_wrap">
            <button type="button" class="btn color_picker" aria-label="속성 닫기">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" xml:space="preserve">
                    <path
                        d="M6 19.5c-.3 0-.7-.1-1-.3-.3-.2-.5-.5-.6-.9v-.2l.4-2.9L12 8.1l-.7-.7 1.1-1.1 5.1 5.1-1.1 1.1-.5-.5-7.1 7.1-2.6.3c-.1.1-.1.1-.2.1zm.4-3.5-.3 1.9 2-.3 6.7-6.7-1.7-1.7L6.4 16z"
                        fill="#d8d8d8" />
                    <path d="m18.4 4.4 1.2 1.2c.7.7.7 2 0 2.7l-1.4 1.4-3.9-3.9 1.4-1.4c.8-.7 2-.7 2.7 0z"
                        fill-rule="evenodd" clip-rule="evenodd" fill="#d8d8d8" />
                </svg>
                <span class="blind">스포이드</span>
            </button>
        </div>
    </div>
</div>

<style>
    .spectrum_box {
        top: 100px;
        position: fixed;
        right: 270px;
        display: none;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
</style>

<link rel="stylesheet" type="text/css" href="./asset/css/lib/spectrum.css">
<script type="text/javascript" src="./asset/js/spectrum.js"></script>
<script type="text/javascript" src="./layout/sidebar/drawLineQuiz.js"></script>