<div class="title">
  <h2>쓰기</h2>

  <div class="btn_wrap">
    <button type="button" class="btn properties_close" aria-label="속성 닫기">
      <svg class="svg_properties_close" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1L7 7L1 13" stroke="#979797" stroke-width="2"></path>
        <path d="M9 1L15 7L9 13" stroke="#979797" stroke-width="2"></path>
      </svg>
      <span class="blind">속성 닫기</span>
    </button>
  </div>
</div>

<div class="inner scroll_box">
  <!-- // 속성 - 위치 -->
  <div class="panel active">
    <div class="panel_title">
      <h3>위치</h3>
      <span role="button" class="btn panel_setting_open" aria-label="속성 열기">
        <i class="arrow_down"></i><span class="blind">속성 열기</span>
      </span>
    </div>

    <div class="panel_setting">
      <div class="panel_subtree">
        <div class="row ctrl_size">
          <div class="col">
            <span class="word">Left<span class="wcln">:</span></span>
            <input type="number" class="scw90 input_t" value="0" name="left" onkeyup="onResize($(this))">
            <span class="unit">px</span>
          </div>
          <div class="col">
            <span class="word">Top<span class="wcln">:</span></span>
            <input type="number" class="scw90 input_t" value="0" name="top" onkeyup="onResize($(this))">
            <span class="unit">px</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- // 속성 - 텍스트 -->
  <div class="panel active">
    <div class="panel_title">
      <h3>텍스트</h3>
      <span role="button" class="btn panel_setting_open" aria-label="속성 열기">
        <i class="arrow_down"></i><span class="blind">속성 열기</span>
      </span>
    </div>

    <div class="panel_setting">
      <div class="panel_subtree">
        <div class="row">
          <div class="font_select_box">
            <div class="select_wrap">
              <span class="select_toggle" selectedData="font">Noto Sans KR</span>
              <span class="select_list" popup="font">
                <span class="scroll_box">
                  <span class="items on" data="font">Noto Sans KR</span>
                  <span class="items" data="font">나눔 고딕</span>
                  <span class="items" data="font">나눔 명조</span>
                  <span class="items" data="font">나눔 스퀘어</span>
                  <span class="items" data="font">나눔 스퀘어 라운드</span>
                  <span class="items" data="font">나눔 손글씨</span>
                  <span class="items" data="font">빙그레체</span>
                  <span class="items" data="font">고도체</span>
                  <span class="items" data="font">배민의민족 주아</span>
                  <span class="items" data="font">배달의민족 도현</span>
                  <span class="items" data="font">Gmarket Sans</span>
                  <span class="items" data="font">Kopub Batng</span>
                  <span class="items" data="font">Kopub Dotum</span>
                </span>
              </span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col flex mw104">
            <span class="word">
              <i class="svg_font_size"></i><span class="blind">크기</span>
            </span>

            <div class="font_select_box mw72">
              <div class="select_wrap">
                <span class="select_toggle" selectedData="size"><input name="fontSize" type="text" class="scw90"
                    value="24" /></span>
                <span class="select_list" popup="size">
                  <span class="scroll_box">
                    <span class="items" data="size">10</span>
                    <span class="items" data="size">11</span>
                    <span class="items" data="size">12</span>
                    <span class="items" data="size">13</span>
                    <span class="items" data="size">14</span>
                    <span class="items" data="size">15</span>
                    <span class="items" data="size">16</span>
                    <span class="items" data="size">20</span>
                    <span class="items on" data="size">24</span>
                    <span class="items" data="size">32</span>
                    <span class="items" data="size">36</span>
                    <span class="items" data="size">40</span>
                    <span class="items" data="size">48</span>
                    <span class="items" data="size">64</span>
                    <span class="items" data="size">96</span>
                    <span class="items" data="size">128</span>
                  </span>
                </span>
              </div>
            </div>
          </div>

          <div class="col flex mw104">
            <span class="word">
              <i class="svg_font_lineheight"></i><span class="blind">행간</span>
            </span>

            <div class="font_select_box mw72">
              <div class="select_wrap">
                <span class="select_toggle" selectedData="line"><input name="lineHeight" type="text" class="scw90"
                    value="1.5" /></span>
                <span class="select_list" popup="line">
                  <span class="scroll_box">
                    <span class="items" data="line">1.0</span>
                    <span class="items" data="line">1.2</span>
                    <span class="items" data="line">1.3</span>
                    <span class="items" data="line">1.4</span>
                    <span class="items on" data="line">1.5</span>
                    <span class="items" data="line">1.6</span>
                    <span class="items" data="line">2.0</span>
                    <span class="items" data="line">2.5</span>
                    <span class="items" data="line">3.0</span>
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="font_style_box">
            <span role="button" data="italic" class="btn font_style">
              <i class="svg_fontstyle_it"></i><span class="blind">이탤릭</span>
            </span>
            <span role="button" data="bold" class="btn font_style">
              <i class="svg_fontstyle_bo"></i><span class="blind">볼드</span>
            </span>
            <span role="button" data="underline" class="btn font_style">
              <i class="svg_fontstyle_un"></i><span class="blind">언더라인</span>
            </span>
          </div>
        </div>

        <div class="row">
          <div class="font_style_box">
            <span role="button" data="align" value="left" class="btn font_style on">
              <i class="svg_fontstyle_al_l"></i><span class="blind">왼쪽 정렬</span>
            </span>
            <span role="button" data="align" value="center" class="btn font_style">
              <i class="svg_fontstyle_al_c"></i><span class="blind">중앙 정렬</span>
            </span>
            <span role="button" data="align" value="right" class="btn font_style">
              <i class="svg_fontstyle_al_r"></i><span class="blind">오른쪽 정렬</span>
            </span>
            <span role="button" data="align" value="justify" class="btn font_style">
              <i class="svg_fontstyle_al_j"></i><span class="blind">양쪽 정렬</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- // 속성 - 색상 -->
  <div class="panel active">
    <div class="panel_title">
      <h3>색상</h3>
      <span role="button" class="btn panel_setting_open" aria-label="속성 열기">
        <i class="arrow_down"></i><span class="blind">속성 열기</span>
      </span>
    </div>

    <div class="panel_setting">
      <div class="panel_subtree">
        <div class="spectrum_box has_alpha">
          <input id="spectrumColor" class="blind">

          <div class="color_picker_wrap">
            <button type="button" class="btn color_picker" aria-label="속성 닫기">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" xml:space="preserve">
                <path
                  d="M6 19.5c-.3 0-.7-.1-1-.3-.3-.2-.5-.5-.6-.9v-.2l.4-2.9L12 8.1l-.7-.7 1.1-1.1 5.1 5.1-1.1 1.1-.5-.5-7.1 7.1-2.6.3c-.1.1-.1.1-.2.1zm.4-3.5-.3 1.9 2-.3 6.7-6.7-1.7-1.7L6.4 16z"
                  fill="#d8d8d8" />
                <path d="m18.4 4.4 1.2 1.2c.7.7.7 2 0 2.7l-1.4 1.4-3.9-3.9 1.4-1.4c.8-.7 2-.7 2.7 0z"
                  fill-rule="evenodd" clip-rule="evenodd" fill="#d8d8d8" />
              </svg>
              <span class="blind">스포이드</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<link rel="stylesheet" type="text/css" href="/asset/css/lib/spectrum.css">
<script type="text/javascript" src="/asset/js/spectrum.js"></script>
<script type="text/javascript" src="./layout/sidebar/sidebarText.js"></script>